body {     
    background-image: url('images/house.PNG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1600px;
    overflow-y: hidden;
    margin: 0px;
    
}

.blackroad {
    border: 2px solid none;
    width: 1600px;    
    height:  150px;
    position: relative;
    background-color:black;
    margin-top: 130px;
    position: fixed;
}

.park {    
    border: 2px solid none;
    width: 0px;
    height: 0px;
    position: relative;
    background-color: none;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-name: car;
    animation-iteration-count: infinite;    
    padding-top: 439px;       
 }   

@keyframes car {
    from { 
        left: 1500px;
    }
    to {
        left:  -1300px;
        background-color: none;
    }
}

.pack {    
    border: 2px solid none;
    width: 0px;
    height: 0px;
    position: relative;
    background-color: none;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-name: folks;
    animation-iteration-count: infinite;    
    padding-top: 1px;       
 }  

@keyframes folks {
    from { 
        left: 1500px;
    }
    to {
        left:  -1300px;
        background-color: none;
    }
}

.hum {    
    border: 2px solid none;
    width: 0px;
    height: 0px;
    position: relative;
    background-color: none;
    animation-duration: 40s;
    animation-delay: 0s;
    animation-name: man1;
    animation-iteration-count: infinite;    
    padding-top: 17px;       
 }  

@keyframes man1 {
    from { 
        left: -1300px;
    }
    to {
        left:  1500px;
        background-color: none;
    }
}

.huma {    
    border: 2px solid none;
    width: 0px;
    height: 0px;
    position: relative;
    background-color: none;
    animation-duration: 25s;
    animation-delay: 0s;
    animation-name: man2;
    animation-iteration-count: infinite;    
    padding-top: 6px;       
 }  

@keyframes man2 {
    from { 
        left: -1300px;
    }
    to {
        left:  1500px;
        background-color: none;
    }
}

.human {    
    border: 2px solid none;
    width: 0px;
    height: 0px;
    position: relative;
    background-color: none;
    animation-duration: 34s;
    animation-delay: 0s;
    animation-name: man3;
    animation-iteration-count: infinite;    
    padding-top: 0px;       
 }  

@keyframes man3 {
    from { 
        left: 1500px;
    }
    to {
        left:  -1300px;
        background-color: none;
    }
}

.airport {    
    border: 2px solid none;
    width: 1px;
    height: 1px;
    position: relative;
    background-color: none;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-name: plane;
    animation-iteration-count: infinite;    
    padding-top: 4px;       
 }  

@keyframes plane {
    from { 
        left: 1500px;
    }
    to {
        left:  -1300px;
        background-color: none;
    }
}